@font-face {
  font-family: "SpecialGothic";
  src: url("./fonts/webfonts/SpecialGothic-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SpecialGothic";
  src: url("./fonts/webfonts/SpecialGothic-ExtendedBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "SpecialGothic";
  src: url("./fonts/webfonts/SpecialGothic-CondensedMedium.woff2")
    format("woff2");
  font-weight: 700;
}
